ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}

.title {
	text-align: center;
}
.title_upper {
	padding: var(--space-xlrg) 0;
}

.bg {
	max-width: var(--container-lrg-width);
	margin: 0 auto;
	background-color: var(--bg-grey);
}

.main-header__top {
	background-color: var(--bg-brown);
	height: 35px;
	padding: 5px 0;
	overflow: hidden;
	font-size: 1.06rem;
	line-height: 1.52em;
	z-index: 100;
}

.main-header__inner {
	padding: var(--space-lrg) 0 var(--space-med);
}
.main-header__inner.grid-3 {
	grid-template-columns: 1fr 1fr 0.8fr;
	grid-template-areas:
		'header-left header-left header-right'
		'header-logo header-logo header-logo';
}
@media only screen and (max-width: 991px) {
	.main-header__inner.grid-3 {
		align-items: center;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 'header-left header-logo header-right';
	}
}
.main-nav {
	grid-area: header-left;
	margin-left: auto;
}
.main-nav__list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 42px;
	padding-left: 0;

	font-weight: 600;
	font-size: 0.93rem;
	line-height: 1.66em;
}
.burger {
	display: none;
	width: 36px;
	height: 20px;
	background-color: transparent;
}
.burger span {
	display: block;
	width: 36px;
	height: 2px;
	background-color: var(--black);
}
.burger span:nth-child(3) {
	width: 25px;
}
.close-nav {
	position: absolute;
	top: 30px;
	right: 30px;
	display: none;
	width: 45px;
	height: 45px;
	background-color: transparent;
}
.close-nav::after,
.close-nav::before {
	content: '';
	position: absolute;
	width: 35px;
	height: 2px;
	top: 50%;
	left: 50%;

	background-color: var(--grey-light);
}
.close-nav::after {
	transform: translate(-50%, -50%) rotate(45deg);
}
.close-nav::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.logo__wrapper {
	grid-area: header-logo;
}
.main-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 200px;
	padding-top: var(--space-med);

	font-weight: 600;
	font-size: 4.5rem;
	line-height: 1.19em;

	color: var(--violet-sodark);
	text-transform: uppercase;
}

.main-logo__img {
	width: 67px;
	height: 67px;
}
@media only screen and (max-width: 991px) {
	.burger {
		display: flex;
	}
	.close-nav {
		display: block;
	}
	.main-logo {
		flex-direction: row;
		padding-top: 0;
		font-size: 2.25rem;
		line-height: 1.19em;
	}
	.main-logo__img {
		width: 34px;
		height: 34px;
	}
	.main-nav {
		position: fixed;
		z-index: 10;
		top: 35px;
		left: -100%;
		background-color: var(--violet);

		height: 100vh;
		width: 50%;
		transition: all 0.5s linear;
	}
	.main-nav.open {
		left: 0;
	}
	.main-nav__list {
		height: 100%;
		flex-direction: column;
		padding-top: var(--space-xlrg);
		align-items: center;
		gap: var(--space-lrg);
	}
	.main-nav__elem {
		padding: var(--space-sml) 0;
	}
	.main-nav__link {
		color: var(--grey-light);
	}
}
@media only screen and (max-width: 560px) {
	.main-header__inner.grid-3 {
		gap: 36px;
	}
	.main-nav {
		width: 80%;
	}
}
.user-nav {
	grid-area: header-right;
}
.user-nav__list {
	display: flex;
	justify-content: flex-end;
	gap: 37px;
}
@media only screen and (max-width: 991px) {
	.user-nav__list {
		margin-bottom: 0;
		padding-left: 0;
		gap: 25px;
	}
}
@media only screen and (max-width: 560px) {
	.user-nav__list {
		gap: 18px;
	}
	.user-nav__backet {
		display: none;
	}
}
.main {
	padding-top: var(--space-med);
}
.top-descr {
	text-align: center;
}
.top-descr__header {
	max-width: 719px;
}
.top-descr__text {
	padding: 0 var(--space-med);
}
.top-descr__hr {
	margin-top: var(--space-med);
	width: 200px;
}

.promo {
	padding-bottom: var(--space-lrg);
	padding-top: var(--space-xlrg);
}
.promo__wrapper.grid-3 {
	gap: 0;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'promo-left promo-img promo-right';
	align-items: center;
}
.promo__left,
.promo__right {
	min-height: 324px;
	border-top: 1px solid var(--grey-light);
	border-bottom: 1px solid var(--grey-light);
}
.promo__left {
	grid-area: promo-left;
	padding: var(--space-sml) 0;
}
.promo__title {
	text-align: left;
	font-weight: 400;
	font-size: 2.62rem;
	line-height: 1em;
	text-transform: none;
}
.promo__text {
	font-size: 1.25rem;
}
.promo__img {
	grid-area: promo-img;
}
.promo__right {
	grid-area: promo-right;
	padding: var(--space-med) 0 var(--space-med) var(--space-med);
}

.promo__price {
	font-size: 2rem;
	line-height: 0.81em;
	margin-bottom: var(--space-sml);
}
.promo__num {
	font-size: 1.62rem;
	line-height: 1em;
}
.promo__controls {
	margin-bottom: var(--space-med);
	gap: var(--space-sml);
}
.promo__add {
	margin-bottom: var(--space-xsml);
}
.btn-plus,
.btn-minus {
	position: relative;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: 1px solid var(--grey-medium);
	background-color: var(--white);
}
.btn-plus:hover,
.btn-minus:hover {
	background-color: var(--grey-medium);
}

.btn-plus:hover path {
	fill: var(--white);
}
.btn-minus:hover line {
	stroke: var(--white);
}

@media only screen and (max-width: 991px) {
	.promo__wrapper.grid-3 {
		gap: var(--space-sml);
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'promo-left promo-img' 'promo-right promo-img';
	}
	.promo__img {
		justify-self: center;
	}
	.promo__left,
	.promo__right {
		min-height: auto;
		border: none;
	}
	.promo__left {
		border-bottom: 1px solid var(--grey-light);
	}
}
@media only screen and (max-width: 776px) {
	.promo__wrapper.grid-3 {
		text-align: center;
		gap: var(--space-sml);
		grid-template-columns: 1fr;
		grid-template-areas: 'promo-left' 'promo-img' 'promo-right ';
	}
	.promo__title {
		text-align: center;
	}
	.promo__controls {
		justify-content: center;
	}
	.promo__left {
		border: none;
	}

	.promo__right {
		padding-left: 0;
		border-bottom: 1px solid var(--grey-light);
	}
}
@media only screen and (max-width: 480px) {
	.promo__img {
		max-width: 277px;
	}
}

.ingredients {
	padding-bottom: var(--space-med);
}
.ingredients__img {
	height: 154px;
	margin-bottom: var(--space-sml);
	mix-blend-mode: multiply;
}

.ingredients__list {
	padding-left: 0;
	gap: 0 var(--space-lrg);
	font-size: 1.12rem;
	line-height: 1.22em;
}
.ingredients__item {
	flex-basis: 292px;
	min-height: 476px;
	text-align: center;
	padding-top: var(--space-med);
	padding-bottom: var(--space-sml);
}

.ingredients__hr {
	margin-top: auto;
	width: 71px;
}
.spollers {
	border-top: 1px solid var(--grey-light);
}

.spollers__btn {
	padding: var(--space-sml) 88px var(--space-sml) var(--space-sml);
	border-bottom: 1px solid var(--grey-light);
}
.spollers__title {
	margin-bottom: 0;
}

.spollers__body {
	padding: var(--space-sml);
	border-bottom: 1px solid var(--grey-light);
}

._spoller-init .spollers__btn {
	cursor: pointer;
}

._spoller-init .spollers__btn-close {
	width: 45px;
	height: 45px;
	right: 40px;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid var(--grey-light);
	border-radius: 50%;
}
._spoller-init .spollers__btn-close svg {
	transition: transform 0.5s linear;
}
._spoller-active .spollers__btn-close svg {
	transform: rotate(180deg);
}

.story__img {
	width: 100%;
	mix-blend-mode: darken;
}
.story__title {
	margin: 0;
}
.story__list {
	align-self: center;
}

.follow {
	padding-bottom: var(--space-lrg);
}
.follow__slider {
	position: relative;
}
.follow__slider .button-slider {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 59px;
	height: 59px;
	border-radius: 50%;
	background-color: D9D9D9;
}
.follow__slider .prev-arrow {
	left: 45px;
}
.follow__slider .next-arrow {
	right: 45px;
}
@media only screen and (max-width: 768px) {
	.follow__slider .button-slider {
		display: none;
	}
}
.contact {
	padding-bottom: var(--space-xlrg);
}
.contact__title {
	text-transform: none;
	font-weight: 400;
	font-size: 3.75rem;
	line-height: 1em;
}
.contact__form {
	margin-top: var(--space-lrg);
	margin-bottom: var(--space-xlrg);
	gap: 2px;
	font-size: 1.5rem;
	line-height: 1.9em;
	border-bottom: 1px solid var(--grey-light);
}
.contact__form.grid-2 {
	grid-template-columns: 3fr 1fr;
}
.contact__input {
	border-right: 1px solid var(--grey-light);
}
@media only screen and (max-width: 991px) {
	.contact__title {
		font-size: 3rem;
		line-height: 1em;
	}
}
@media only screen and (max-width: 530px) {
	.contact__title {
		font-size: 2.5rem;
		line-height: 1em;
	}
	.contact__form {
		font-size: 1.1rem;
	}
	.contact__btn {
		font-size: 1.1rem;
		padding: 0.75rem 1.23rem;
	}
}
.main-footer {
	color: var(--grey);
	font-family: var(--mirage);
	font-weight: 500;
}

.footer__logo {
	padding-top: var(--space-lrg);
	padding-bottom: var(--space-med);
}
@media only screen and (max-width: 991px) {
	.main-logo {
		font-size: 3.1rem;
		line-height: 1.2em;
	}
}

.social.grid-3 {
	grid-template-columns: repeat(3, 1fr);
	padding-left: 0;
	padding-bottom: var(--space-lrg);
}

@media only screen and (max-width: 480px) {
	.social.grid-3 {
		grid-template-columns: 1fr;
	}
}
.social__item {
	text-align: center;
}
.social__item hr {
	width: 50px;
}
.social__title {
	font-family: var(--caudex);
	font-weight: 700;
	font-size: 0.93rem;
	line-height: 1.6em;

	text-transform: uppercase;

	color: var(--beige-dark);
}
.social__link {
	font-family: var(--caudex);
	color: var(--grey);
}
.footer-nav {
	padding-bottom: var(--space-xlrg);
}
.footer-nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	gap: 32px;
}

.footer-nav__link {
	text-transform: uppercase;
}
.footer__copy {
	margin-bottom: var(--space-med);
}
.footer__text,
.footer__avtor,
.footer__col-link,
.footer__copy {
	font-size: 0.87rem;
	line-height: 2em;
	letter-spacing: 0.1em;
}
.footer__avtor {
	margin-bottom: var(--space-lrg);
}
.footer__col-link {
	color: var(--beige-dark);
}
